<div class="login">
    <div class="login__header">
        <h2>
           <div> Prayag Timber House </div> 
        </h2>
    </div>
    <div class="login__container">
         <h1>Sign In</h1>   
         <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <h4>E-mail</h4>
             <input type="text" formControlName="email"/>
             <h4>Password</h4>
             <input type="password" formControlName="password"/>
             <button type="submit" class="login__submitbutton">Sign In</button>
         </form>
         <p>
            By continuing, you agree to website's Conditions of Use and Privacy Notice.
         </p>
    </div>
</div>