.login{
    display: flex;
    background-color: #eeeeee;
    background: url('../../../assets/background18.jpg');
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.login__logo{
    margin:20px 0;
    width: 100px;
    object-fit: contain;
}
.login__header{
    padding: 20px;
    margin: 20px;
}
.login__header > h2 >div{
    box-sizing: border-box;
    font-size: 50px;
    color: #eeeeee;
    font-weight: 700;
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    line-height: 1;
}
.login__container{
    width:300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background: white;
}
.login__container > h1{
    font-weight:500;
    margin-bottom: 20px;
}
.login__container >form > h4{
    margin-bottom: 5px;
}
.login__container  > p{
    margin-top:10px;
}
.login__container >form > input{
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
    height: 30px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}

.login__submitbutton{
    cursor: pointer;
    background: #caa472;
    border-radius: 3px;
    width:100%;
    height: 30px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
}