<div>
    <div *ngIf="view">
        <ng-container *ngTemplateOutlet="NEWENTRY"></ng-container>
    </div>
    <div *ngIf="!view">
        <ng-container *ngTemplateOutlet="DETAILS"></ng-container>
    </div>

</div>


<ng-template #NEWENTRY>
    <div fxFlex fxLayout='column' fxLayoutGap='10px'>
        <h2>Add Product</h2>
        <mat-divider></mat-divider>
        <p style="color: red;" *ngIf="error_addproduct">{{error_addproduct}}</p>
        <form novalidate [formGroup]="newEntryform" (ngSubmit)="onSubmit_newEntry()">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>DgCode</mat-label>
                    <input type="number" matInput formControlName="DgCode">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>FNS</mat-label>
                    <input matInput formControlName="FNS" #input [value]="input.value.toUpperCase()">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput formControlName="Quantity">
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">
                    Add
                </button>
                <button class="close_btn" mat-raised-button color="warn" (click)="onClose()">
                    close
                </button>
            </p>
        </form>
    </div>
</ng-template>

<ng-template #DETAILS>
    <div fxFlex fxLayout='column' fxLayoutGap='10px'>
        <h2>Add Order Details</h2>
        <mat-divider></mat-divider>
        <p style="color: red;" *ngIf="error_orderpage">{{error_orderpage}}</p>
        <form novalidate [formGroup]="orderEntryform" (ngSubmit)="onSubmit_orderEntry()">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>OrderNumber</mat-label>
                    <input type="number" matInput formControlName="ordernumber" >
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Date</mat-label>
                    <input matInput formControlName="date" [matDatepicker]="basicDatepicker">
                    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #basicDatepicker></mat-datepicker>
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button color="primary" type="submit">
                    Add
                </button>
            </p>
        </form>
    </div>
</ng-template>