<div>
    <div fxFlex fxLayout='column' fxLayoutAlign="center" fxLayoutGap='10px'>
        <h2>Add Product</h2>
        <mat-divider></mat-divider>
        <p style="color: red;" *ngIf="error_addproduct">{{error_addproduct}}</p>
        <form novalidate [formGroup]="newEntryform" (ngSubmit)="onSubmit_newEntry()">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>DgCode</mat-label>
                    <input type="number" matInput formControlName="DgCode">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>FNS</mat-label>
                    <input matInput formControlName="FNS" #input [value]="input.value.toUpperCase()">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="Name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput formControlName="Quantity">
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">
                    Add
                </button>
            </p>
        </form>
    </div>
</div>