<div class="container">
    <div class="header">
        <h2>Stocks List</h2>
    </div>

    <div class="tablecontainer" >
        <div class="searchinput" *ngIf="dataSource && dataSource.data.length>0"><button (click)="exportdata()">Export Data</button></div> 
        <table #table [dataSource]="dataSource" class="mat-elevation-z8" 
            aria-describedby="inventory grid" matSort matSortActive="DgCode" matSortStart="asc" mat-table>

            <ng-container matColumnDef="DgCode">
                <th fxLayout="column" fxFlex="20" mat-header-cell *matHeaderCellDef> 
                    <span mat-sort-header>DG Code</span>
                    <input class="inventory__input" type="text" (click)="inputClick($event)" (keyup)="applyfilter($event,'DgCode')"/>
                </th>
                <td fxLayout="column" fxFlex="20" mat-cell *matCellDef="let element"> {{element.DgCode}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="Name">
                <th mat-sort-header fxLayout="column" fxFlex="15" mat-header-cell *matHeaderCellDef> Name </th>
                <td fxLayout="column" fxFlex="15" mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container> -->

            <ng-container matColumnDef="FNS">
                <th fxLayout="column" fxFlex="20" mat-header-cell *matHeaderCellDef>
                    <span mat-sort-header> FNS </span>
                    <input class="inventory__input" type="text" (click)="inputClick($event)" (keyup)="applyfilter($event,'FNS')"/>
                </th>
                <td fxLayout="column" fxFlex="20" mat-cell *matCellDef="let element"> {{element.FNS}} </td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
                <th mat-sort-header fxLayout="column" fxFlex="10" mat-header-cell *matHeaderCellDef> Quantity </th>
                <td fxLayout="column" fxFlex="10" mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="LastUpdatedDate">
                <th fxLayout="column" fxFlex="25" mat-header-cell *matHeaderCellDef> 
                    <span mat-sort-header> Last Updated Date</span>
                    <input class="inventory__input" type="text" (click)="inputClick($event)" (keyup)="applyfilter($event,'LastUpdatedDate')"/>
                </th>
                <td fxLayout="column" fxFlex="25" mat-cell *matCellDef="let element"> {{element.LastUpdatedDate}} </td>
            </ng-container>

            <ng-container matColumnDef="LastUpdatedStatus">
                <th fxLayout="column" fxFlex="15" mat-header-cell *matHeaderCellDef> Last Status
                </th>
                <td fxLayout="column" fxFlex="15" mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.LastUpdatedStatus"><mat-icon color="warn">call_made</mat-icon></span>    
                    <span *ngIf="!element.LastUpdatedStatus"><mat-icon [ngStyle]="{'color':'green'}">call_received</mat-icon></span>    
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th fxLayout="column" fxFlex="10" mat-header-cell *matHeaderCellDef> Action </th>
                <td fxLayout="row" fxFlex="10" mat-cell *matCellDef="let element">
                     <span class="edit-icon" (click)="openEntry(element)"><mat-icon>edit</mat-icon></span>
                     <span class="delete" (click)="deleterow(element)"><mat-icon color="warn">delete</mat-icon></span>  
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator pageSize="10" [pageSizeOptions]="[10,20,50]"
            showFirstLastButtons>
        </mat-paginator>
    </div>

</div>