table {
    width: 100%;
  }
.tablecontainer{
  margin-bottom: 10px;
}
  .edit-icon{
    cursor: pointer;
  }
  .delete{
    cursor: pointer;
  }
  .searchinput{
    float: right;
    margin-bottom: 10px;
  }

  .inventory__input{
    width: 80%;
    margin-bottom:3px;
  }