footer{
    background-color: black;
    color: white;
    text-align: center;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ddd6da, 0 0 40px #ddd6da, 0 0 50px #ddd6da, 0 0 60px #ddd6da, 0 0 70px #ddd6da;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #8f8c8d, 0 0 40px #8f8c8d, 0 0 50px #8f8c8d, 0 0 60px #8f8c8d, 0 0 70px #8f8c8d, 0 0 80px #8f8c8d;
    }
  }