.profile-card{
    text-align: center;  
    img{
        width: 150px;
        height: 150px;
        border-radius: 0%;
        object-fit: cover;
    }
}

.header > mat-icon {
    float:right;
    cursor: pointer;
}
