<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <mat-icon (click)="close()">close</mat-icon>
            <h2>Prayag Timber House</h2>
            <h4>
                <div>9415308256/9415033754</div>    
                 <div>jibranali143@gmail.com</div>
            </h4>
        </div>
        <img src="../../../../assets/PrayagTimber_logo.jpg" alt="prayag timber house">
    </div>
    <mat-divider></mat-divider>
     <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a> -->
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/inventory">Inventory</a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/addproducts">Add Products</a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/setupInventory">Setup Inventory</a>
     <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/addbill">Add Bill</a> -->
       
     <mat-divider></mat-divider>
  
</mat-nav-list>