/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
tr.mat-row{
    height:100% !important;
}
tr.mat-header-row{
    height:100% !important;
}

.mat-header-cell {
    justify-content: space-between;
    align-items: center;
}

td.mat-cell{
    align-items: center;
}
.mat-sort-header-container{
    justify-content: center;
}