<div class="container">        
        <div fxFlex fxLayout='column' fxLayoutGap='10px'>
            <h2>Update Record</h2>
            <mat-divider></mat-divider>
            <p style="color: red;" *ngIf="error">{{error}}</p>
            <form novalidate [formGroup]="Entryform" (ngSubmit)="onSubmit()">
            <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>DgCode</mat-label>
                        <input type="number" matInput formControlName="DgCode" [readonly]="true" >
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>FNS</mat-label>
                        <input matInput formControlName="FNS" #input [value]="input.value.toUpperCase()" readonly>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput formControlName="Quantity" readonly> 
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Quantity sold</mat-label>
                        <input type="number" matInput formControlName="Quantitysold" > 
                    </mat-form-field>
                </p>

                <p>
                    <button type="submit" mat-raised-button color="primary">
                        Update
                    </button>
                    <button class="close_btn" mat-raised-button color="warn" (click)="onClose()">
                        close
                    </button>
                </p>
            </form>
        </div>
    
</div>