.container{
    padding-bottom: 20px;
    margin-bottom: 10px;
}
table {
    width: 100%;
  }

  .add-button{
      margin:0 0 20px 0;
  }

  .totals{
      display: inline-block;
  }

  div.orderdetails_container > table{
     border: 1px solid black;
     
  }

  .submit_button{
      margin-top: 10px;;
  }

  .delete{
      cursor: pointer;
  }