<div class="container">
    <div class="add-button">
        <button mat-raised-button color="primary" (click)="openDialog_addrow()"> Add New Entry</button>
        <button style="float: right;" mat-raised-button color="primary" (click)="openDialog_order()"> Add Order Details </button>
    </div>

    <div>
        <div fxFlex fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='space-between'>
            <div fxFlex='60' >
                <div [hidden]="dataSource.data.length==0">                
                    <table #table [dataSource]="dataSource" aria-describedby="inventory grid" matSort mat-table>
                
                        <ng-container matColumnDef="DgCode">
                            <th mat-sort-header fxLayout="column" fxFlex="25" mat-header-cell *matHeaderCellDef> DG Code </th>
                            <td fxLayout="column" fxFlex="25" mat-cell *matCellDef="let element"> {{element.DgCode}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="FNS">
                            <th mat-sort-header fxLayout="column" fxFlex="35" mat-header-cell *matHeaderCellDef> FNS </th>
                            <td fxLayout="column" fxFlex="25" mat-cell *matCellDef="let element"> {{element.FNS}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="ExistingQuantity">
                            <th mat-sort-header fxLayout="column" fxFlex="25" mat-header-cell *matHeaderCellDef> Existing Quantity </th>
                            <td fxLayout="column" fxFlex="20" mat-cell *matCellDef="let element"> {{element.ExistingQuantity}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="Quantity">
                            <th mat-sort-header fxLayout="column" fxFlex="25" mat-header-cell *matHeaderCellDef> Quantity </th>
                            <td fxLayout="column" fxFlex="20" mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="action">
                            <th mat-sort-header fxLayout="column" fxFlex="15" mat-header-cell *matHeaderCellDef> Action </th>
                            <td fxLayout="column" fxFlex="10" mat-cell *matCellDef="let element">
                                <span class="delete" (click)="deleterow(element)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </span>
                            </td>
                        </ng-container>
                
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator pageSize="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            <div fxFlex='30' class="totals">
                <div class="orderdetails_container">
                    <table>
                        <tr>
                            <td><b>Order Number</b></td>
                            <td>{{orderNumber}}</td>
                        </tr>   
                        <tr>
                            <td><b>Order Date</b></td>
                            <td>{{OrderDate}}</td>
                        </tr> 
                        <mat-divider></mat-divider>
                        <tr>
                            <td>Total</td>
                            <td>{{total_quantity}}</td>
                        </tr>
                    </table>                  
                   

                </div>
            </div>
        </div>        
    </div>

    <div *ngIf="dataSource && dataSource.data.length>0" class="submit_button">
        <button mat-raised-button color="warn" (click)="submitData()" >Submit</button>
    </div>


</div>